/* line 3, ../compass/sass/style.scss */
#header {
  max-width: 900px;
  margin: auto;
  padding: 30px 0 0 0;
}
/* line 8, ../compass/sass/style.scss */
#header #nav-bar {
  position: relative;
  overflow: hidden;
}
/* line 11, ../compass/sass/style.scss */
#header #nav-bar #logo {
  float: left;
  margin: 0 0 0 5%;
  background: #ccc;
}
/* line 15, ../compass/sass/style.scss */
#header #nav-bar #logo h2 {
  margin: 3px 30px 6px 30px;
}
/* line 19, ../compass/sass/style.scss */
#header #nav-bar #nav {
  float: right;
  background: #ccc;
  margin: 0 50px 0 0;
  min-width: 100px;
}
/* line 26, ../compass/sass/style.scss */
#header #nav-bar #nav ul li a {
  color: black;
  padding: 11px 11px 11px 11px;
}
/* line 35, ../compass/sass/style.scss */
#header #images-wrapper {
  position: relative;
  padding: 20%;
}
/* line 39, ../compass/sass/style.scss */
#header #images-wrapper #center-logo {
  text-align: center;
  background: #ccc;
  margin: auto;
  width: 75%;
  padding-top: 50%;
  min-width: 450px;
  padding: 0 0 10px 0;
}
/* line 46, ../compass/sass/style.scss */
#header #images-wrapper #center-logo #logo-container {
  margin-top: 0%;
  width: 100%;
}
/* line 49, ../compass/sass/style.scss */
#header #images-wrapper #center-logo #logo-container h1 {
  font-size: 73px;
  font-style: bold;
}
/* line 53, ../compass/sass/style.scss */
#header #images-wrapper #center-logo #logo-container h3 {
  font-size: 20px;
}
/* line 60, ../compass/sass/style.scss */
#header #images-wrapper #glyphicons-wrapper {
  width: 50px;
  position: absolute;
  right: 0%;
  top: 30%;
}
/* line 66, ../compass/sass/style.scss */
#header #images-wrapper #glyphicons-wrapper img {
  width: 100%;
  margin: 10px 0 0 0;
}

/* line 74, ../compass/sass/style.scss */
#service-section {
  background: #ccc;
  padding: 4% 0;
}
/* line 77, ../compass/sass/style.scss */
#service-section #service-wrapper {
  overflow: hidden;
}
/* line 82, ../compass/sass/style.scss */
#service-section #service-wrapper .service {
  text-align: center;
}
/* line 92, ../compass/sass/style.scss */
#service-section #service-wrapper .service .service-image-wrapper .service-image img {
  width: 100%;
  max-width: 300px;
}
/* line 100, ../compass/sass/style.scss */
#service-section #service-wrapper .service .service-content-wrapper .service-header h5 {
  font-size: 14px;
}
/* line 105, ../compass/sass/style.scss */
#service-section #service-wrapper .service .service-content-wrapper .service-description p {
  font-size: 14px;
}

/* line 121, ../compass/sass/style.scss */
#about-us-section {
  position: relative;
}
/* line 129, ../compass/sass/style.scss */
#about-us-section .flexslider .slides li img {
  width: 90%;
}
/* line 135, ../compass/sass/style.scss */
#about-us-section .flex-control-nav {
  width: 100%;
  position: absolute;
  left: 40%;
}
/* line 140, ../compass/sass/style.scss */
#about-us-section .flex-control-nav .flex-nav-prev {
  position: absolute;
  left: 10%;
  bottom: 5%;
}
/* line 145, ../compass/sass/style.scss */
#about-us-section .flex-control-nav .flex-nav-next {
  position: absolute;
  right: 10%;
  bottom: 5%;
}
/* line 150, ../compass/sass/style.scss */
#about-us-section .flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
}
/* line 154, ../compass/sass/style.scss */
#about-us-section .flex-control-nav li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  color: transparent;
  border-radius: 20px;
}
